.card-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 500px;
    height: 300px;
    border: none;
    border-radius: 10px;
    background-color: #f0f0f0;
    align-items: center;
    justify-content: center;
}

.card-image {
    display: flex;
    align-items: center;
}

.product-image {
    height: 280px;
    width: 250px;
    margin: 10px;
    border-radius: 10px;
    /* border: 1px solid #303030; */
}

.card-description {
    display: flex;
    flex-direction: column;
    /* background-color: cadetblue; */
    width: 250px;
    height: 280px;
    margin: 3px;
    border-radius: 10px;
}

.product-title{
    margin: 0%;
    padding-left: 10px;
}

.product-price{
    margin: 0%;
    padding-left: 10px;
    color: #BABABA;
}

.product-description {
    font-size: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    overflow-wrap: break-word;
    color: #BABABA;
}

.product-button{
    width: 180px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    background-color: #1976D2;
    border: none;
    border-radius: 10px;
}

.product-button:hover{
    background-color: #1565C0;
}